.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* column align */
}

.cog-wrapper {
  animation: colorChange 12s infinite;
  align-self: flex-start; 
  margin: 0 auto;
}

.cog1,
.cog2,
.cog3 {
  height: 40vmin;
  pointer-events: none;
  margin: -5vmin;
}

.cog1 {
  height: 30vmin;
  pointer-events: none;
  margin-top: -0.5vmin;
  margin-right: -7.0vmin;
  align-self: flex-start; 
}

.cog2 
{
  margin-top: 2.0vmin;
}

.cog3
{
  margin-top: 12.0vmin;
}

.cog4 {
  height: 20vmin;
  pointer-events: none;
  margin-top: 35vmin;
  margin-left: -2.0vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .cog1 {
    animation: cog1-spin-rev infinite 0.9s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cog2 {
    animation: cog1-spin infinite 1.5s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cog3 {
    animation: cog1-spin-rev infinite 2.5s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cog4 {
    animation: cog1-spin infinite 2.5s linear;
  }
}

@keyframes cog1-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cog1-spin-rev {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg) saturate(10%) brightness(100%);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes colorChange2 {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg) saturate(100%) brightness(100%); 
  }
  100% {
    filter: hue-rotate(0deg);
  }
}